body
{
	margin:0;
	padding:0;
	background-color:#94D3E3;
}
form
{
	top:50%;
	left:50%;
	position:absolute;
	transform:translate(-50%,-50%);
	background-color:white;
	width:400px;
	height:550px;
	border-radius:10px;
	box-sizing:border-box;
	padding: 110px 85px;
}
input
{
	border:none;
	font-size:20px;
	width: 220px; height:30px;
	border-radius:5px;
	padding:20;
	margin-bottom:20px;
}
button
{
	border:none;
	font-size:20px;
	font-family:Franklin Gothic Demi;
	border-radius:5px;
	outline:none;
	width: 220px; height:30px;
	background-color:#00FD32;
	color:white;
	margin:0;
}

img
{
	position:absolute;
	padding: 0 40px;
	top:-50px;
}


.button
{
	position:relative;
	border-radius:5px;
	background:green;
	color:#fff;
	display:inline-block;
	font-size:20px;
	margin:20px;
	padding:10px 0;
	text-align:center;
	width: 220px; height:20px;
	text-decoration:none;
	box-shadow: 0px 3px 0px #373c3c;
	margin-left:50px;
	margin-right:50px;
	right:50px;
	top:-15px;
}





